@(simpleForm: Form[ApplicationUser],registrationForm: Form[UserCredentials])

@import helper._
@import helper.twitterBootstrap._

@main {
 	<div class="well">


		<h3>Register</h3>

		<h4>
			Please complete the registration process
		</h4>

		<p class="dodgyfiller">&nbsp;</p>

		@if(registrationForm.hasGlobalErrors){
			<div class="alert alert-error">
				@registrationForm.globalErrors.head.message
			</div>
		}

		@**
		@if(registrationForm.hasErrors){
			<div class="alert">
				@registrationForm.errors.head.key =
				@registrationForm.errors.head.message
			</div>
		}
		**@

		@form(action = routes.RegistrationAuthentication.finishRegistrationProcess(), 'class -> "form-horizontal" ){


			@if(registrationForm("applicationUser.fullname").error.isDefined){
				<div class="alert">@registrationForm("applicationUser.fullname").error.get.message</div>
			}
			<div class="control-group @if(registrationForm("applicationUser.fullname").error.isDefined){ error }">
				<label class="control-label" for="applicationUser.fullname">
					Name
				</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="applicationUser.fullname" name="applicationUser.fullname" placeholder="your full name" maxlength="120" value="@registrationForm("applicationUser.fullname").value.getOrElse(simpleForm("fullname").value.getOrElse(""))" />
				</div>
			</div>


			@if(registrationForm("applicationUser.username").error.isDefined){
				<div class="alert">@registrationForm("applicationUser.username").error.get.message</div>
			}
			<div class="control-group @if(registrationForm("applicationUser.username").error.isDefined){ error }">
				<label class="control-label" for="applicationUser.username">
					Username
				</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="applicationUser.username" name="applicationUser.username" placeholder="a username or email address" maxlength="120" required value="@registrationForm("applicationUser.username").value.getOrElse(simpleForm("username").value.getOrElse(""))" />
				</div>
			</div>


			@if(registrationForm("applicationUser.email").error.isDefined){
				<div class="alert">@registrationForm("applicationUser.email").error.get.message</div>
			}
			<div class="control-group @if(registrationForm("applicationUser.email").error.isDefined){ error }">
				<label class="control-label" for="applicationUser.email">
					Email address
				</label>
				<div class="controls">
					<input type="email" class="input-xlarge" id="applicationUser.email" name="applicationUser.email" placeholder="your email address" maxlength="120" value="@registrationForm("applicationUser.email").value.getOrElse("")"/>
				</div>
			</div>

			<fieldset>

				@if(registrationForm("passwords").error.isDefined){
					<div class="alert alert-error">@registrationForm("passwords").error.get.message</div>
				}
				<div class="control-group @if(registrationForm("passwords").error.isDefined){ error }">
					<label class="control-label" for="passwords.password">
						Password
					</label>
					<div class="controls">
						<input type="password" class="input-xlarge" id="passwords.password" name="passwords.password" placeholder="your password" maxlength="120" required/>
					</div>
				</div>
				<div class="control-group @if(registrationForm("passwords").error.isDefined){ error }">
					<label class="control-label" for="passwords.confirmPassword">
						Confirm password
					</label>
					<div class="controls">
						<input type="password" class="input-xlarge" id="passwords.confirmPassword" name="passwords.confirmPassword" placeholder="same password again" maxlength="120" required/>
					</div>
				</div>
			</fieldset>

			<div class="form-actions">
				<button type="submit" class="btn btn-success">complete registration</button>
				<input type="reset" class="btn btn-warning" value="reset form"/>
				<a href="@routes.Application.index()" class="btn btn-inverse">cancel</a>
			</div>
		}

	</div>
}
