@(profile: ApplicationUser, passwordForm: Form[(String,String,String,String)])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash)

@import helper._


@main{

 	<section class="well">

		<h3>@Messages("profile.password.title") <a href="@routes.Profile.showProfile(profile.userId.get)">@profile.username</a></h3>

	</section>

 	<section class="well">

		@if(passwordForm.hasErrors){
			<div class="alert alert-error">
				@passwordForm.errors.head.message
			</div>
		}

		@form(action = routes.Profile.changePassword(profile.userId.get), 'class -> "form-horizontal"){

			<input type="hidden" name="username" value="@profile.username" />

			@if(passwordForm("oldPassword").error.isDefined){
				<div class="alert">@passwordForm("oldPassword").error.get.message</div>
			}
			<div class="control-group @if(passwordForm("oldPassword").error.isDefined){ error }">
				<label class="control-label" for="oldPassword">
					@Messages("profile.password.current")
				</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="oldPassword" name="oldPassword" required placeholder="@Messages("profile.password.current.placeholder")" maxlength="120" value="@passwordForm("oldPassword").value.getOrElse("")" />
				</div>
			</div>


			@if(passwordForm("newPassword").error.isDefined){
				<div class="alert">@passwordForm("newPassword").error.get.message</div>
			}
			<div class="control-group @if(passwordForm("newPassword").error.isDefined){ error }">
				<label class="control-label" for="newPassword">
					@Messages("profile.password.new")
				</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="newPassword" name="newPassword" required placeholder="@Messages("profile.password.new.placeholder")" maxlength="120" value="@passwordForm("newPassword").value.getOrElse("")" />
				</div>
			</div>


			@if(passwordForm("confirmPassword").error.isDefined){
				<div class="alert">@passwordForm("confirmPassword").error.get.message</div>
			}
			<div class="control-group @if(passwordForm("confirmPassword").error.isDefined){ error }">
				<label class="control-label" for="confirmPassword">
					@Messages("register.confirm")
				</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" required placeholder="@Messages("profile.confirm.placeholder")" maxlength="120" value="@passwordForm("confirmPassword").value.getOrElse("")" />
				</div>
			</div>



			<div class="form-actions">
				<a href="@routes.Profile.showProfile(profile.userId.get)" class="btn btn-inverse pull-right">@Messages("cancel.action")</a>
				<button type="submit" class="btn btn-warning pull-right">@Messages("profile.password.action")</button>
			</div>

		}

	</section>

}
